{% comment %} {% assign main_menu_linklists = linklists[section.settings.menu].links %} {% endcomment %}

<div class="bg-white w-full border-b-1 border-b-gray-300">
  <div class="container flex mx-auto gap-x-4 p-4">
    <div class="flex flex-1">
      <a href="{{ shop.secure_url }}"><img src="{{ 'logo_obatala.svg' | asset_url }}" width="243" height="46" alt="{{ shop.name }}" /></a>
    </div>
    {% comment %} <div>{% render 'header-search' %}</div> {% endcomment %}
     <div>{% render 'main-search' %}</div>
    <div class="flex flex-1 items-center justify-end">
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          {% else %}
            <a href="{{ routes.account_login_url }}">{{ 'customer.log_in' | t }}</a>
        {% endif %}
      {% endif %}
      <a href="{{ routes.cart_url }}">{% render 'icon-cart', svg_class: "shrink-0 size-7 text-black" %}</a>
    </div>
  </div>
</div>
<div class="bg-white w-full border-b-1 border-b-gray-300">
  <div class="container flex mx-auto gap-x-4 p-4">
    <nav class="hidden md:block md:w-full">
      <ul class="flex justify-between gap-x-6">
        {% for link in linklists.main-menu.links %}
          <li class="relative group">
            <a class="inline-flex items-center font-semibold text-base text-gray-900 cursor-pointer hover:text-accent">
              {{ link.title }}
              {% if link.links != blank %}{% render 'icon-chevron-down', svg_class: "shrink-0 size-4 ml-1" %}{% endif %}
            </a>
            {% if link.links != blank %}
              <ul class="absolute -left-[999rem] block border border-bg-gray-200 rounded-lg py-1 z-10 group-hover:left-auto">
                {% for childlink in link.links %}
                  <li>
                    <a href="{{ childlink.url }}" class="flex flex-nowrap text-sm leading-4 px-2 py-1 whitespace-nowrap">{{ childlink.title }}</a>
                  </li>
                {% endfor %}
              </ul>
          {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>

{% schema %}
  {
    "name": "header"
  }
{% endschema %}