<div class="bg-white w-full border-b-1 border-b-gray-300">
  <div class="container flex mx-auto gap-x-4 p-4">
    <div class="flex flex-1">
      <img src="{{ 'logo_obatala.svg' | asset_url }}" width="243" height="46" alt="{{ shop.name }}" />
    </div>
    <div>{% render 'header-search' %}</div>
    <div class="flex flex-1 items-center justify-end">
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <a href="{{ routes.account_login_url }}">{{ 'customer.log_in' | t }}</a>
        {% endif %}
      {% endif %}
      <a href="{{ routes.cart_url }}">{% render 'icon-cart', svg_class: "shrink-0 size-7 text-black" %}</a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "header"
  }
{% endschema %}